/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header {
    width: 100%;
    height: 100vh;
    background-image: url("header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
    background-blend-mode: multiply;
}

nav {
    top: 0;
    width: 100%;
    height: 80px;
}

nav ul {
    display: flex;  
    margin: 0 15px;  
    list-style: none;
	padding: 20px;
}

nav ul li {
    text-decoration: none;
    padding: 0 15px;
}


nav ul li > a {
    text-decoration: none;
    color: white;
}

.floatL { 
    float: left; 
    color: white;
    font-size: 30px;
}

.floatR { 
    float: right; 
    color: white;
    font-size: 15px;
}

.div-1 {
    margin: 180px 0;
}

.header2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}


.p-lorem {
    color: white;
    text-align: center;
    margin: 0 300px;
    font-size: 16px;
}

.button-1 {
    border: none;
    color: black;
    background-color: white;
    padding: 20px 40px;
    margin: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
}

.button-2 {
    border: none;
    color: white;
    background-color: rgb(60, 221, 159);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.section-1 {
    background-image: url("be-the-first-bg.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
    background-blend-mode: multiply;
}

.section-1-h1 {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 250px 0 15px 0;
}

.section-1-paragraph {
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 0;
}

img {
    height: 450px;
    margin: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-2 {
    width: 100%;
    height: 50vh;
} 

.section-2-row {
    margin: 200px 50px;
    color: grey;
    padding: 20px; 
}

.section-2-row p:nth-of-type(odd) {
    font-weight: 600;
    color: black;
}

.section-2-hr-1{
    border: 0;
    height: 4px;
    background: #333;
    background-color: purple;
}

.section-2-hr-2{
    border: 0;
    height: 4px;
    background: #333;
    background-color: aqua;
}

.section-2-hr-3 {
    border: 0;
    height: 4px;
    background: #333;
    background-color: yellow;
}

.section-3 {
    width: 100%;
    height: 150vh;
    background-color: aquamarine;
}

.section-3-h1 {
    text-align: center;
    padding-top: 200px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 750;
}

.section-3-p {
    text-align: center;
    color: white;
}

.section-3-table, th, td {
    margin: 0px auto;
    text-align: center;
    margin-top: 45px;
    width: 25%;
}

.section-3-table td {
    height: 50px;
    background-color: white; 
    font-weight: 600;  
    border: 1px solid gainsboro;
    
}

.section-3-table th {
    background-color: black;
    color: white;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.section-3-td-1 {
    color: thistle;
    font-size: 12px;
}

.section-3-td-6 {
    color: turquoise;
    text-transform: uppercase;
    font-weight: 750;
    font-family:Arial, Helvetica, sans-serif;
}

.section-3-th-1 {
    font-size: 12px;
    font-weight: 300;
    
}

.section-3-th-1 span:nth-child(2)  {
    font-size: 30px;
    font-weight: 700;
}

.section-3-th-1 span:nth-child(3)  {
    color: thistle;
    font-size: 30px;
    font-weight: 300;
    padding-top: 20px;
}

.section-3-th-1 span:nth-child(4)  {
    color: thistle;
    font-size: 20px;
    font-weight: 300;
}

footer {
    width: 100%;
    height: 15vh;
}

footer p:nth-child(1) {
    padding: 30px 0px 0 60px;
    float: left;
    font-size: 12px;
}

/* .footer-p1 {
    padding: 30px 0px 0 60px;
    float: left;
    font-size: 12px;
} */


footer p:nth-child(2) {
    padding: 30px 60px 0 0px;
    float: right;
    color: gainsboro;
    font-size: 12px;
}
/* .footer-p2 {
    padding: 30px 60px 0 0px;
    float: right;
    color: gainsboro;
    font-size: 12px;
}  */

.footer-logos i {
    float: left;
    margin: 32px 0px 0px 15px;
    padding-right: 5px;
    font-size: 12px;
}


